http: //localhost:5000http://localhost:5000.background {
background-color: whitesmoke;
}

.hero-banner {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    z-index: -1;
}

.hero-banner__title {
    color: rgb(23, 213, 197);
    font-size: 13vw;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
}

.hero-banner__image {
    border-radius: 20px;
    position: fixed;
    transform: rotate(-15deg);
    width: 50%;
}

.content {
    background-color: black;
    border: 3px solid gray;
    margin: 1em;
    /* padding: 10px; */
    /* height: 500vh; */
}

.content_contact {
    background-color: white;
    font-size: 40px;
    padding: 10px;
    /* height: 40%; */
}

body {
    background-color: #000;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

/* Navbar */


/* INTRO */
.avatar {
    width: 40%;
    height: auto;
    margin: 0em 0em 2em 0em;
    border-radius: 10%;
    /* border-right: 3px solid black; */
    /* border-bottom: 3px solid black; */
}

.descript {
    /* justify-content: center; */
    text-align: center;
    /* margin: 6rem 0em 8em 0em; */
}

.topic {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .topic_1 {
    margin: .5em;
} */

.topic_2 {
    margin: 4em;
}

.topic_3 {
    margin: 2em;
    color: white;
    text-align: center;
}

.about_margin {
    /* margin: 1em; */
    border: 1px solid black;
}

/* PROJECTS */
.color {
    color: black;
}

.project-container {
    flex-direction: column;
    align-items: center;
}

.project_child1 {
    margin: 2em;
}

.project_child2 {
    margin: 2em;
}

.img_1 {
    max-width: 40%;
    height: auto;
    /* margin: 2em; */
}

.img_2 {
    max-width: 40%;
    height: auto;
    margin: 2em;

}

.project_title {
    text-align: center;
    margin: 2em;
}

.project_flex {
    justify-content: space-around;
    flex-wrap: wrap;
}

.project_description {
    text-align: center;
}

/* TECHNOLOGIES */
.heading {
    margin: 5em 0em;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 1em;
    color: rgb(23, 213, 197);
}

.tech_container {
    /* border: 3px solid black; */
    padding-bottom: 5em;
}

.tech_img {
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30%;
    /* border: 2px solid red; */
    margin: 20%;
}

/* CONTACT ME */
.contact {
    font-size: medium;
    flex-wrap: wrap;
    text-align: start;
    margin: 2em;
}

.cont_sections {
    justify-content: center;
    align-items: center;

}

.cont_img {
    /* border: 2px solid red; */
    width: 4em;
    height: auto;
    align-items: center;
}

.cont_img4 {
    width: 2em;
    height: auto;
    align-items: center;
    margin-left: .5em;
}

.cont_phone {
    padding-right: 1em;
    /* margin-right: 1em; */
}


.space {
    margin: 12em;
    background-color: whitesmoke
}

/* Footer */

@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* Sections */
.section {
    height: 100vh;
    min-height: 500px;
    position: relative;
}

/* Containers */
.content-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    clip: rect(auto, auto, auto, auto);
    pointer-events: none;
}

.content-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0;
    z-index: 99;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
    pointer-events: all;
}

.content-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Aesthetics */
.top-section {
    background: linear-gradient(135deg, rgb(45, 212, 167) 0%, rgb(23, 213, 197) 100%);
}

.bottom-section {
    background: white;
}

.section h1 {
    font-size: 7vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.section p {
    font-weight: 400;
    font-size: small;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
}

.content-theme-dark h1 {
    color: black;
    text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

.content-theme-dark p,
.content-theme-dark a {
    color: black;
}

.content-theme-light h1 {
    color: #062930;
    text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

.content-theme-light p,
.content-theme-light a {
    color: #728E93;
}

.thanks {
    color: rgb(23, 213, 197);

}